
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-521601693729686597.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-521601693729686597.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-521601693729686597.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-521601693729686597.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-521601693729686597.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-521601693729686597.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-521601693729686597.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-521601693729686597.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-521601693729686597.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-521601693729686597.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-521601693729686597.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-521601693729686597.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-521601693729686597.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-521601693729686597.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-521601693729686597.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-521601693729686597.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-521601693729686597.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-521601693729686597.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-521601693729686597.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-521601693729686597.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-521601693729686597.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-521601693729686597.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-521601693729686597.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-521601693729686597.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-521601693729686597.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-521601693729686597.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-521601693729686597.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-521601693729686597.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-521601693729686597.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-521601693729686597.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-521601693729686597.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-521601693729686597.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-521601693729686597.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-521601693729686597.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-521601693729686597.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-521601693729686597.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-521601693729686597.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-521601693729686597.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-521601693729686597.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-521601693729686597.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-521601693729686597 .-gp-translate-x-1\/2,.gps-521601693729686597 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-521601693729686597 .gp-absolute{position:absolute}.gps-521601693729686597 .gp-relative{position:relative}.gps-521601693729686597 .gp-left-0{left:0}.gps-521601693729686597 .gp-left-1\/2{left:50%}.gps-521601693729686597 .gp-top-0{top:0}.gps-521601693729686597 .gp-top-1\/2{top:50%}.gps-521601693729686597 .gp-z-10{z-index:10}.gps-521601693729686597 .gp-z-9{z-index:9}.gps-521601693729686597 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-521601693729686597 .gp-mb-0{margin-bottom:0}.gps-521601693729686597 .gp-flex{display:flex}.gps-521601693729686597 .gp-grid{display:grid}.gps-521601693729686597 .\!gp-hidden{display:none!important}.gps-521601693729686597 .gp-hidden{display:none}.gps-521601693729686597 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-521601693729686597 .gp-h-full{height:100%}.gps-521601693729686597 .gp-w-14{width:56px}.gps-521601693729686597 .gp-w-5{width:20px}.gps-521601693729686597 .gp-w-full{width:100%}.gps-521601693729686597 .\!gp-max-w-none{max-width:none!important}.gps-521601693729686597 .gp-max-w-full{max-width:100%}.gps-521601693729686597 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-521601693729686597 .-gp-translate-x-1\/2,.gps-521601693729686597 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-521601693729686597 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-521601693729686597 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-521601693729686597 .gp-flex-col{flex-direction:column}.gps-521601693729686597 .gp-items-center{align-items:center}.gps-521601693729686597 .gp-justify-center{justify-content:center}.gps-521601693729686597 .gp-overflow-hidden{overflow:hidden}.gps-521601693729686597 .gp-rounded{border-radius:4px}.gps-521601693729686597 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-521601693729686597 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-521601693729686597 .gp-bg-cover{background-size:cover}.gps-521601693729686597 .gp-bg-center{background-position:50%}.gps-521601693729686597 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-521601693729686597 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521601693729686597 .gp-duration-200{transition-duration:.2s}.gps-521601693729686597 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-521601693729686597 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-521601693729686597 .tablet\:\!gp-hidden{display:none!important}.gps-521601693729686597 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-521601693729686597 .mobile\:\!gp-hidden{display:none!important}.gps-521601693729686597 .mobile\:gp-hidden{display:none}}.gps-521601693729686597 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-521601693729686597 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-521601693729686597 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-521601693729686597 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gG0Z9nifOm"}' data-id="gG0Z9nifOm" id="gG0Z9nifOm" data-same-height-subgrid-container class="gG0Z9nifOm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt:40px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:30px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:40px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQs58dnBDM gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gvtD61GV3i" class="gvtD61GV3i !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--aspect:auto">
      
    <gp-lite-vimeo-embed gp-data='{"id":"347119375","thumbnail":"https://cdn.shopify.com/s/files/1/0861/3154/0287/files/gempages_521601512837743555-bf56be4e-85a9-4de2-85f5-f40b7c5ee663.png?v=1720428425","lazy":true,"iframeSrc":"https://player.vimeo.com/video/347119375?&autoplay=1&muted=1&loop=0&controls=true&autopause=false","title":"Video","autoplay":false,"muted":true,"style":{"--aspect":"auto"}}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-vimeo-embed-article"
        data-title="Video"
        style="backgroundImage:url();--aspect:auto"
      >
      
    <img
      width="1440" height="720" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI3MjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtNzIwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjcyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI3MjAiIGZpbGw9InVybCgjZy0xNDQwLTcyMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" base-src="{{ "gempages_521601512837743555-bf56be4e-85a9-4de2-85f5-f40b7c5ee663.png" | file_url }}" data-src="{{ "gempages_521601512837743555-bf56be4e-85a9-4de2-85f5-f40b7c5ee663.png" | file_url }}" data-srcset="{{ "gempages_521601512837743555-bf56be4e-85a9-4de2-85f5-f40b7c5ee663.png" | file_url }}"
      id=""
      
      class="gp-h-full gp-w-full gp-relative gp-top-0 gp-left-0 gp-z-9 gp_lazyload"
    />
         
          <button type="button" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800] gp-z-10 gp-lite-vimeo-embed-button" aria-label="Play">
          <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-vimeo-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-gvtD61GV3i">
        .gvtD61GV3i[data-component-label="Video"] {

}
      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-521601693729686597 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/dev-valerii/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=521601638532645746&sectionId=521601693729686597)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}